<div fxLayout="column" fxLayoutAlign="space-between">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
          <div fxLayout="row" fxLayoutAlign="space-between" class="width100">
            <div >Anbu Trade Corporation</div>
            <div >   <button mat-raised-button routerLink="/admin/order">Login</button>

            </div>
          </div>
        </mat-toolbar-row>
        </mat-toolbar>
    <div>
      <app-loader></app-loader>
    <router-outlet></router-outlet>
</div>
</div>