<div fxLayout="row" fxLayoutAlign="center " class="matContainer">
  <mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="form">
      <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <ng-template matStepLabel>Order</ng-template>
        <div fxLayout="column" fxLayoutAlign="center ">

          <mat-form-field class="example-full-width">
            <input matInput formControlName="name" placeholder="Enter the Name ">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput formControlName="phoneNumber" (keypress)="numberOnly($event)" minlength="10" maxlength="10"
              placeholder="Enter the Phone Number">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <textarea formControlName="address" rows="5" cols="5" matInput placeholder="Enter the Address"></textarea>
          </mat-form-field>
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style" style="width: fit-content; margin-top: 5px; margin-bottom: 15px;" (change)="unitChange($event)" [value]="unit">
            <mat-button-toggle value="1">Kgs</mat-button-toggle>
            <mat-button-toggle value="2">Pieces</mat-button-toggle>
            
          </mat-button-toggle-group>
          <mat-toolbar class="toolbarForm">
            Steel </mat-toolbar>
          <mat-radio-group aria-label="Select an option load respective" formControlName="steelType"
            (change)="steelChange($event)" class="radioClassSteel">
            <mat-radio-button value="amman">Amman</mat-radio-button>
            <mat-radio-button value="tata">TATA</mat-radio-button>
            <mat-radio-button value="durga">Durga</mat-radio-button>
          </mat-radio-group>
          <div formGroupName="amman" fxLayout="column" fxLayoutAlign="center " *ngIf="matChangesteel==='amman'" [@fadeInOut]>
            <mat-form-field class="example-full-width" ngClass="kgFields" ngClass.lt-md="kgFieldsltmd">
              <input matInput formControlName="mm6" (keypress)="numberOnly($event)" placeholder="6MM">
              <span matSuffix>{{unit === '1' ? '.kg' : 'pieces'}}</span>

            </mat-form-field>
            <mat-form-field class="example-full-width" ngClass="kgFields" ngClass.lt-md="kgFieldsltmd">
              <input matInput formControlName="mm8" (keypress)="numberOnly($event)" placeholder="8MM">
              <span matSuffix>{{unit === '1' ? '.kg' : 'pieces'}}</span>

            </mat-form-field>
            <mat-form-field class="example-full-width" ngClass="kgFields" ngClass.lt-md="kgFieldsltmd">
              <input matInput formControlName="mm10" (keypress)="numberOnly($event)" (keypress)="numberOnly($event)"
                placeholder="10MM">
              <span matSuffix>{{unit === '1' ? '.kg' : 'pieces'}}</span>
            </mat-form-field>
            <mat-form-field class="example-full-width" ngClass="kgFields" ngClass.lt-md="kgFieldsltmd">
              <input matInput formControlName="mm12" (keypress)="numberOnly($event)" placeholder="12MM">
              <span matSuffix>{{unit === '1' ? '.kg' : 'pieces'}}</span>
            </mat-form-field>
            <mat-form-field class="example-full-width" ngClass="kgFields" ngClass.lt-md="kgFieldsltmd">
              <input matInput formControlName="mm16" (keypress)="numberOnly($event)" placeholder="16MM">
              <span matSuffix>{{unit === '1' ? '.kg' : 'pieces'}}</span>
            </mat-form-field>
            <mat-form-field class="example-full-width" ngClass="kgFields" ngClass.lt-md="kgFieldsltmd">
              <input matInput formControlName="mm20" (keypress)="numberOnly($event)" placeholder="20MM">
              <span matSuffix>{{unit === '1' ? '.kg' : 'pieces'}}</span>
            </mat-form-field>
          </div>
          <div formGroupName="tata" fxLayout="column" fxLayoutAlign="center " *ngIf="matChangesteel==='tata'" [@fadeInOut]>
            <mat-form-field class="example-full-width" ngClass="kgFields" ngClass.lt-md="kgFieldsltmd">
              <input matInput formControlName="mm6" (keypress)="numberOnly($event)" placeholder="6MM">
              <span matSuffix>{{unit === '1' ? '.kg' : 'pieces'}}</span>
            </mat-form-field>
            <mat-form-field class="example-full-width" ngClass="kgFields" ngClass.lt-md="kgFieldsltmd">
              <input matInput formControlName="mm8" (keypress)="numberOnly($event)" placeholder="8MM">
              <span matSuffix>{{unit === '1' ? '.kg' : 'pieces'}}</span>
            </mat-form-field>
            <mat-form-field class="example-full-width" ngClass="kgFields" ngClass.lt-md="kgFieldsltmd">
              <input matInput formControlName="mm10" (keypress)="numberOnly($event)" placeholder="10MM">
              <span matSuffix>{{unit === '1' ? '.kg' : 'pieces'}}</span>
            </mat-form-field>
            <mat-form-field class="example-full-width" ngClass="kgFields" ngClass.lt-md="kgFieldsltmd">
              <input matInput formControlName="mm12" (keypress)="numberOnly($event)" placeholder="12MM">
              <span matSuffix>{{unit === '1' ? '.kg' : 'pieces'}}</span>
            </mat-form-field>
            <mat-form-field class="example-full-width" ngClass="kgFields" ngClass.lt-md="kgFieldsltmd">
              <input matInput formControlName="mm16" (keypress)="numberOnly($event)" placeholder="16MM">
              <span matSuffix>{{unit === '1' ? '.kg' : 'pieces'}}</span>
            </mat-form-field>
            <mat-form-field class="example-full-width" ngClass="kgFields" ngClass.lt-md="kgFieldsltmd">
              <input matInput formControlName="mm20" (keypress)="numberOnly($event)" placeholder="20MM">
              <span matSuffix>{{unit === '1' ? '.kg' : 'pieces'}}</span>
            </mat-form-field>
          </div>
          
          <div formGroupName="durga" fxLayout="column" fxLayoutAlign="center " *ngIf="matChangesteel==='durga'" [@fadeInOut]>
            <mat-form-field class="example-full-width" ngClass="kgFields" ngClass.lt-md="kgFieldsltmd">
              <input matInput formControlName="mm6" (keypress)="numberOnly($event)" placeholder="6MM">
              <span matSuffix>{{unit === '1' ? '.kg' : 'pieces'}}</span>
            </mat-form-field>
            <mat-form-field class="example-full-width" ngClass="kgFields" ngClass.lt-md="kgFieldsltmd">
              <input matInput formControlName="mm8" (keypress)="numberOnly($event)" placeholder="8MM">
              <span matSuffix>{{unit === '1' ? '.kg' : 'pieces'}}</span>
            </mat-form-field>
            <mat-form-field class="example-full-width" ngClass="kgFields" ngClass.lt-md="kgFieldsltmd">
              <input matInput formControlName="mm10" (keypress)="numberOnly($event)" placeholder="10MM">
              <span matSuffix>{{unit === '1' ? '.kg' : 'pieces'}}</span>
            </mat-form-field>
            <mat-form-field class="example-full-width" ngClass="kgFields" ngClass.lt-md="kgFieldsltmd">
              <input matInput formControlName="mm12" (keypress)="numberOnly($event)" placeholder="12MM">
              <span matSuffix>{{unit === '1' ? '.kg' : 'pieces'}}</span>
            </mat-form-field>
            <mat-form-field class="example-full-width" ngClass="kgFields" ngClass.lt-md="kgFieldsltmd">
              <input matInput formControlName="mm16" (keypress)="numberOnly($event)" placeholder="16MM">
              <span matSuffix>{{unit === '1' ? '.kg' : 'pieces'}}</span>
            </mat-form-field>
            <mat-form-field class="example-full-width" ngClass="kgFields" ngClass.lt-md="kgFieldsltmd">
              <input matInput formControlName="mm20" (keypress)="numberOnly($event)" placeholder="20MM">
              <span matSuffix>{{unit === '1' ? '.kg' : 'pieces'}}</span>
            </mat-form-field>
          </div>
          <mat-form-field class="example-full-width" ngClass="kgFields" ngClass.lt-md="kgFieldsltmd">
            <input matInput formControlName="bestWire" (keypress)="numberOnly($event)" placeholder="Best Wire">
            <span matSuffix>.kg</span>
          </mat-form-field>
          <mat-toolbar class="toolbarForm">
            Cement </mat-toolbar>
          <div formGroupName="cement" fxLayout="column" fxLayoutAlign="center">
            <mat-form-field class="example-full-width" ngClass="kgFields" ngClass.lt-md="kgFieldsltmd">
              <input matInput (keypress)="numberOnly($event)" formControlName="ultraTech" placeholder="UltraTech">
              <span matSuffix>{{unit === '1' ? '.kg' : 'bags'}}</span>
            </mat-form-field>
            <mat-form-field class="example-full-width" ngClass="kgFields" ngClass.lt-md="kgFieldsltmd">
              <input matInput (keypress)="numberOnly($event)" formControlName="tnpl" placeholder="Tnpl">
              <span matSuffix>{{unit === '1' ? '.kg' : 'bags'}}</span>
            </mat-form-field>
            <mat-form-field class="example-full-width" ngClass="kgFields" ngClass.lt-md="kgFieldsltmd">
              <input matInput (keypress)="numberOnly($event)" formControlName="chettinadu" placeholder="Chettinadu">
              <span matSuffix>{{unit === '1' ? '.kg' : 'bags'}}</span>
            </mat-form-field>
            <mat-form-field class="example-full-width" ngClass="kgFields" ngClass.lt-md="kgFieldsltmd">
              <input matInput (keypress)="numberOnly($event)" formControlName="ramco" placeholder="Ramco">
              <span matSuffix>{{unit === '1' ? '.kg' : 'bags'}}</span>
            </mat-form-field>
            <mat-form-field class="example-full-width" ngClass="kgFields" ngClass.lt-md="kgFieldsltmd">
              <input matInput (keypress)="numberOnly($event)" formControlName="ramcosuper" placeholder="Ramco Super">
              <span matSuffix>{{unit === '1' ? '.kg' : 'bags'}}</span>
            </mat-form-field>
            <mat-form-field class="example-full-width" ngClass="kgFields" ngClass.lt-md="kgFieldsltmd">
              <input matInput (keypress)="numberOnly($event)" formControlName="bharathi" placeholder="Bharathi">
              <span matSuffix>{{unit === '1' ? '.kg' : 'bags'}}</span>
            </mat-form-field>
          </div>
          <mat-form-field class="example-full-width">
            <textarea formControlName="other" rows="5" cols="5" matInput placeholder="Other Orders"></textarea>
          </mat-form-field>
          <button class="btnCnfm" mat-raised-button color="primary" matStepperNext [disabled]="checkValid()" type="submit">
            Submit</button>

        </div>
      </form>

      <div>
      </div>


    </mat-step>
    <mat-step>

      <ng-template matStepLabel>Confirm</ng-template>
      <div fxLayout="column">
        <ng-container *ngIf="errorCheck">
          <h3 style="color:red; text-align: center;">{{error}} or Contact Anbu Trade Corporation</h3>
        </ng-container>
        <mat-card fxLayout="row" class="headerCart">
          <div fxFlex="20">S.No</div>
          <div fxFlex="40">Items</div>
          <div fxFlex="40">Quanity</div>
        </mat-card>
        <ng-container *ngIf="finalValue">
          <mat-card fxLayout="row" class="contentCart" *ngFor="let item of   finalValue;let i = index">
            <div fxFlex="20">{{i+1}}</div>
            <div fxFlex="40">{{item.brand | uppercase }} - {{item.key}}</div>
            <div fxFlex="40">{{item.value }} {{item.brand === 'other' ? '' : item.brand === 'bestWire' ? '.kg' : unit === '1' ? '.kg' : 'pieces'}}</div>
          </mat-card>
        </ng-container>
      </div>
      <div fxLayout="row" class="btnCnfm" fxLayoutAlign="end" fxLayoutGap="7px">
        <button mat-raised-button fxFlex="10" color="accent" (click)="goBackward(stepper)">Back</button>
        <button mat-raised-button fxFlex="15" color="primary" (click)="goForward(stepper)">Next</button>
      </div>

    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <div fxLayout="column" fxLayoutGap="5px">
        <div fxLayout="row" fxLayoutAlign="center center"><img class="doneImage" src="assets/images/sucess.svg" ></div>
        <div fxLayout="row" fxLayoutAlign="center center"><h3>Thankyou for the order</h3></div>
        <div fxLayout="row" fxLayoutAlign="center center">Your order ID is <span style="font-weight: 700;color: red;">{{orderId}}</span></div>
        <div fxLayout="row" fxLayoutAlign="center center">We Will Email you order Confiramation Details.</div>
      </div>
      <div fxLayout="row" class="btnCnfm" fxLayoutAlign="end" fxLayoutAlign.lt-md="center center">
        
        <button mat-raised-button fxFlex.gt-md="15" color="primary" (click)="continueShopping(stepper)">Continue Shopping</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>

</div>