<div fxLatout="row" fxLayoutAlign="center">
<mat-card class="viewMat" >
<div fxlayouy="column" *ngIf="dataSource" fxLayoutGap="10px">
    <div fxLayout="row">
        <div>Order Id : {{dataSource.order.orderNo}}</div>
        <div></div>
    </div>
    <div class="presonal"></div>
    <div fxLayout="row">
        <div>Name: </div>
        <div>{{dataSource.personal.name}}</div>
    </div>
    <div fxLayout="row">
        <div>Phone Number: </div>
        <div>{{dataSource.personal.phone}}</div>
    </div>
    <div fxLayout="row">
        <div>Address: </div>
        <div>{{dataSource.personal.address}}</div>
    </div>
    <div class="order"></div>
    <div class="adminView">
        <div fxLayout="row">
            <div>Status</div>
            <div>{{dataSource.admin.status}}</div>
        </div>
    </div>
    <div class="product">
        <div fxLayout="row" fxLayoutGap="5px" style="margin-bottom: 5px;">
            <div fxFlex="25" class="pro" fxFlex.lt-md="50"><strong>Product</strong></div>
            <div fxFlex="25" class="pro" fxFlex.lt-md="50"><strong>Quantity</strong></div>
          </div>
          <div fxLayout="row" *ngFor="let a of dataSource.product" fxLayoutGap="5px"
            style="border-bottom: 1px solid #fafafa;">
            <div fxFlex="25" class="pro" fxFlex.lt-md="50">{{a.brand | uppercase}} - {{a.product | uppercase}}
            </div>
            <div fxFlex="25" class="pro" fxFlex.lt-md="50">{{a.qyt}} Kgs</div>
          </div>
    </div>
    <div class="btn">
        <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap.gt-md="10px" style="margin-bottom: 15px;margin-top: 5px;">
            <button mat-raised-button color="warn" fxFlex.lt-md="50" (click)="print()">Print</button>
            <button mat-raised-button color="primary" fxFlex.lt-md="50"
                (click)="completeOrder(element)">Complete</button>

        </div>
    </div>
</div>
</mat-card>
</div>